#index-background {
  width: 950px;
  height: 100vh;
  margin: auto;
  background-image: url('/images/background-index.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 45%;
  background-position-x: center;
  position: relative;
}

#map-container{
  background-color: red;
  top:200px;
  height: 175px;
  width: 260px;
  position: absolute;
  top: 35%;
  left: 32.5%;
  border-radius: 5px;
}

@media only screen and (max-width: 950px) {
  #index-background {
    width: 100vw;  
  }

  #map-container{
    height: 33.5vh;
    width: 27vw;
  }
}
